.cover {
    background-image: url(./bgLoader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typewriter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 68.8px;
    font-weight: 700;
    letter-spacing: -2.5px;
    line-height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255, 0.48) 49.48%, rgba(255, 255, 255, 0.4) 100%, rgba(255, 255, 255, 0.32) 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}