.all li.movingBrackets::before {
    /*   content: "[ "; */
    margin: -0.1em 0px 0px -0.8em;
}

.all li.movingBrackets::after {
    /*   content: " ]"; */
    margin: -0.1em 0px 0px 0.3em;
}


.all li.movingBrackets::before,
.all li.movingBrackets::after {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
}

.all li.movingBrackets:hover {
    color: rgba(255, 255, 255, 1)
}

.all li.movingBrackets:hover::before {
    margin: -0.1em 0px 0px -1.2em;
}

.all li.movingBrackets:hover::after {
    margin: -0.1em 0px 0px 0.7em;
}

.all li.movingBrackets.angle-brackets::before {
    content: "{ ";
}

.all li.movingBrackets.angle-brackets::after {
    content: " }";
}