.figure {
    width: 1000px;
    height: 500px;
    overflow: hidden;
}

.figure img {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}


.figure:hover img {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}